


<div style="padding: 12px;margin-bottom: 5px;background-color: coral;">
    <span class="new badge pink waves-effect">{{time.display()}}</span>
    <input type="month" [(ngModel)]="datePick"  (change)="ChangeDate()" />
    <input style="margin-left: 12px;" type="button" class="btn btn-small" value="Save" (click)="Save()" />
</div>
<div class="row grey">
    <div class="col s3" style="background-color: darkkhaki;">
        <div class="row">
            <!-- <ul>
                <li style="cursor: pointer;" *ngFor="let t of description.descrTempl;" (click)="description.Test(t.val, $event)"> -->
                    <div class="col s12 desc_item" ></div>
                    <div *ngFor="let t of description.descrTempl;" [ngClass]="t.cl" class="col s12 desc_item" (click)="description.Test(t.val, $event)" id="1"><span class="zap">{{t.name}}</span>{{t.text}}</div>
                <!-- </li>
            </ul> -->
        </div>
    </div>
    <div class="col s7">
        <table style="background: #009688;">
            <div class="row" *ngFor="let col of diary.table.columns; let i = index" class="col-table" [ngClass]="{current:i==currentDay - 1}">
                <input type="text" value="{{i+1}}" readonly class="browser-default cell-col cell-day"
                    [ngClass]="{active:i==currentDay - 1}" />
                <div *ngFor="let cell of col.cells; let j = index;">
                    <input type="text" [(ngModel)]="cell.value" [ngClass]="cell.state" class="browser-default cell-col" (focus)="cellClick(j)" />
                </div>
            </div>
        </table>
       
    </div>
</div>
   

